.create-event-container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.create-event-container h2 {
  margin-bottom: 16px;
}

ion-item {
  --border-radius: 8px;
  --background: var(--ion-background-color, rgb(139, 31, 248));
  margin-bottom: 12px;
}

ion-button {
  margin-top: 16px;
  --border-radius: 10px;
  --box-shadow: 0px 4px 6px rgb(63, 59, 59);
}
 ion-toolbar {
      display: flex;
        justify-content: center;
        align-items: center;
 }

 ion-datetime {
  --background: rgba(232, 234, 179, 0.955);
  --background-rgb: 245, 235, 247;
  --wheel-highlight-background: rgb(24, 24, 28);
  --wheel-highlight-border-radius: 48px;
  --wheel-fade-background-rgb: 245, 235, 247;
}

ion-datetime::part(wheel-item) {
  color: rgb(0, 0, 0);
}

ion-datetime::part(wheel-item active) {
  color: rgb(244, 242, 245);
}